@import "../../Styles/variables.scss";

.projects {
  @include flex(column);

  background-color: $primary-blue;
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
  height: auto;
  left: 0;
  padding-bottom: 30vh;
  width: $section-width;

  .border {
    background-color: $primary-purple;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 10%);
    height: 120px;
  }

  h1 {
    display: inline-block;
    text-align: left;
    color: $light;
    margin: auto;
    padding: 4rem 0;
    text-align: left;
    width: $max-width + 15px;
  }

  .project-grid {
    display: grid;
    grid-gap: 3rem 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: auto;
    width: $max-width;

    .project {
      background-color: $light;
      border-radius: 20px;
      height: 15em;
      margin: auto;
      position: relative;
      width: 25em;

      a {
        border-radius: $border;
        height: 100%;
        position: absolute;
        width: 100%;

        .img {
          border-radius: $border;
          position: relative;

          .description {
            @include flex(column, center, center);

            background-color: $dark-transparent;
            border-radius: $border;
            height: 100%;
            position: absolute;
            width: 100%;
          }
        }
      }

      &:hover {
        box-shadow: 0px 4px 15px -2px rgba(2, 2, 2, 0.616);
      }
    }
  }
}
