@import "../../Styles/variables.scss";

.main {
  @include flex(column);
  height: auto;

  .titles-top {
    @include flex(row, space-between);
    margin-top: 8em;

    .titles {
      @include flex(column, center);

      .name {
        @include font-large;

        font-size: 2.75em;
        z-index: 5;
      }

      .sticky {
        position: fixed;
        top: 5px;
        z-index: 5;
      }
      .title-item {
        @include font-large;

        display: block;
        color: $primary-blue;
        margin-bottom: 1rem;
      }
    }
  }

  .titles-bottom {
    margin: 4em 0em;
    width: auto;

    p {
      color: $primary-blue;
      font-weight: 900;
      line-height: 1.5em;
    }
  }
}
