@import "../../Styles/variables.scss";

.contact-container {
  max-width: $max-width;

  .contact {
    @include flex(column, center, center);

    background-color: $primary-purple;
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
    height: auto;
    left: 0;
    margin-top: -20vh;
    padding-bottom: 4em;
    width: $section-width;

    h1 {
      display: inline-block;
      text-align: left;
      color: $light;
      margin: auto;
      padding: 5em 0 2em 0;
      text-align: left;
      width: $max-width + 15px;
    }

    .contact-form {
      @include flex(column);

      width: 600px;
      button {
        background: $primary-blue;
        border: none;
        border-radius: 10px;
        color: $light;
        cursor: pointer;
        margin: 1.4em;
        padding: 0.6em;
        transition: all 100ms ease-in-out;
        &:hover,
        &:focus,
        &:active {
          box-shadow: 0px 4px 15px -2px rgba(2, 2, 2, 0.616);
        }
      }
      form {
        @include flex(column);

        input,
        textarea {
          border: solid 2px $primary-blue;
          border-radius: 10px;
          font-size: 1em;
          margin: 1.2em;
          outline: none;
          padding: 0.6em;
          transition: all 100ms ease-in-out;
          &:hover,
          &:focus,
          &:active {
            box-shadow: 0px 4px 15px -2px rgba(2, 2, 2, 0.616);
          }
        }
        textarea {
          margin: 1.2em;
        }
      }
    }
  }
}
