@import "../../Styles/variables.scss";

nav {
  @include flex(row, space-between);

  background-color: $light;
  height: $nav-height;
  position: fixed;
  width: $section-width;
  left: 0;
  z-index: 2;

  .nav-container {
    @include flex(row, space-between, center);

    margin: auto;
    width: $max-width;

    .name {
      color: $primary-blue;
      font-size: 2.75em;
      margin-left: -10px;
    }
    div {
      position: relative;

      svg {
        height: $social-height;
        margin-left: 1em;
      }
    }
  }
}
